body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 5px auto;
}

.app > header {
  text-align: center;
}

@media (max-width: 480px) {
  .app {
    margin: auto;
  }

  .container {
    display: flex;
    height: 100vh;
  }
}
