body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (any-hover: hover) {
  .app {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 5px auto;
  }
}

.app > .header {
  text-align: center;
  margin: auto 5px;
}

@media (orientation: landscape) and (any-hover: none) {
  .app {
    display: flex;
    margin: auto;
    flex-direction: row;
    max-width: none;
  }
}

@media (orientation: portrait) and (any-hover: none) {
  .app {
    margin: auto;
  }

  .container {
    display: flex;
    height: 100vh;
  }
}
